@charset "UTF-8";
	* { margin: 0; padding: 0; border: 0; font-size: 100%; }
	
Body {
	font-family: sans-serif; 
	font-size: 18px; 
	background: white;
	margin: 0px;
	padding: 0px;

}

header {
	
	background-image: url("../images/boom.jpg");
	color: white;
	text-align:center;
	padding: 40px; 
}

p {
	margin: 10px;
		padding: 5px;
}

footer {
	background: darkslategrey;
	color: white;
	text-align:center;
	padding: 10px;
	
	
}

h1 { 
	font-size: 30px; 
	font-family: 'Anton', sans-serif;
}

li {
	display: inline-block; 
	background: darkslategrey;
	padding: 10px; 
	margin-top: 2px;	
}

nav { 
	text-align: center
}

a{ 
color:darkgrey
}

nav a {
	text-decoration: none;
	font-size: 15px;
	
}

nav a:hover {
	color: red;
}

.content-wrap {
	width: 900px;
	margin:0 auto; 	
}

.section-border {
	border: thick solid darkslategrey; 
	padding: 20px;
	margin-top: 10px; 	
}

h2 {color: red; text-decoration: underline; font-size: 18px; } 
h3 {color: black; font-size: 18px; } 
#my-id { color: white;  background-color: darkslategray; text-align: center; font-style:italic; padding: 10px;}
.my-class { color: black; text-align: center; padding: 10px; }